{% extends 'base.html' %}

{% block title %} Feedback {% endblock %}

{% block content %}
    <div class="container bg-light mt-3 border">
        {% for msg in get_flashed_messages() %}
    <div>{{ msg }}</div>
    {% endfor %}

    <h1>Update feedback</h1>
    <div class="row align-items-start">
        <div class="col-2">
            <form id="user-add-form" method="POST">
                {{ form.hidden_tag() }}
            
                {% for field in form
                    if field.widget.input_type != 'hidden' %}
            
                <p>
                    {{ field.label }}
                    {% set feedback_value = feedback[field.name] if feedback is defined else None %}
                    {{ field(value=feedback_value) }}
            
                    {% for error in field.errors %}
                    {{ error }}
                    {% endfor %}
                </p>
            
                {% endfor %}
            
                <button type="submit" class="btn btn-primary mb-3">Submit</button>
                <a href="/users/{{user.username}}" class="btn btn-primary mb-3">Back</a>
            </form>
        </div>
        
    </div>

    </div>


{% endblock %}